# {{ ansible_managed }}
<VirtualHost *:{{ apache_vhost_port }}>
    ServerName {{ prestashop_domain }}
    ServerAdmin {{ prestashop_admin_email }}
    DocumentRoot {{ prestashop_install_dir }}

    <Directory {{ prestashop_install_dir }}>
        Options -Indexes +FollowSymLinks +MultiViews
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog {{ apache_prestashop_error_log }}
    CustomLog {{ apache_prestashop_access_log }} combined
</VirtualHost>
